
.navbar{
  background-color: #C5BAFF;
}
.text{
  color: #4B164C;
}

.nav-item {
  margin-right: 25px; /* Adjust the value as needed */
}

.nav-link:hover {
  background-color: #f0f0f0; /* Change to your desired color */
  color: #4B164C; /* Change to your desired color */
  border-radius: 15px; /* Adjust the value for roundness */
  padding: 10px; /* Add padding for better hover area */
  border-bottom: 2px solid #4B164C; /* Add underline effect */
}
